extends ./modules/layout/layout
block vars
    -var currentPageTitle = "Тестовое задание HTML-верстальщик"

block title
    title=currentPageTitle

block block-content
    .wrapper.clearfix
        h1.main-title
            | Мои настройки
        