/*

a — Arial Regular
b — Arial Italic
c — Arial Bold
d — Arial Bold Italic
e — Georgia Regular
f — Georgia Italic
g — Georgia Bold
h — Georgia Bold Italic
i — Tahoma Regular
j — Tahoma Bold
k — Times Regular
l — Times Italic
m — Times Bold
n — Times BoldItalic
o — Lucida Sans
p — Lucida Sans Bold
q — Verdana Regular
r — Verdana Italic
s — Verdana Bold
t — Verdana Bold Italic
u — Futura
v — Trump Mediaeval
w — ITC Studio Script

*/

@font-face 
	font-weight normal
	font-family 'Open Sans'
	font-style normal
	src url('../fonts/opensans.woff2') format('woff2'),
	url('../fonts/opensans.woff') format('woff')


@font-face 
	font-weight 300
	font-family 'Open Sans'
	font-style normal
	src url('../fonts/opensanslight.woff2') format('woff2'),
	url('../fonts/opensanslight.woff') format('woff')


@font-face 
	font-weight 700
	font-family 'Open Sans'
	font-style normal
	src url('../fonts/opensansbold.woff2') format('woff2'),
	url('../fonts/opensansbold.woff') format('woff')


fontBase()
	font-family Arial, Verdana, sans-serif


