section.social
    h2.social__title Социальные сети
    p.social__caption Привяжите учетную запись социальной сети и используйте ee для входа
    ul.social__list
        li.social__item
            a(href='#').social__link.social__link--fb Facebook
        li.social__item
            a(href='#').social__link.social__link--vk Вконтакте
        li.social__item
            a(href='#').social__link.social__link--tw Twitter
        li.social__item
            a(href='#').social__link.social__link--ok Одноклассники