.setting-form 
    float none
    width 100%

    @media (min-width: $desktop)
        width 66%
        float left
        padding-top 22px


.setting-form__item-title
    font-family Verdana, sans-serif
    font-weight 300
    font-size 18px
    line-height 18px
    color $BLACK
    margin-bottom 16px

.setting-form__item 
    margin-bottom 46px

.setting-form__list-item 
    padding 10px 18px 8px 8px
    border-width 1px 1px 0
    border-style solid
    border-color $BORDER_GRAY

    &:last-child 
        border-bottom-width 1px

    &:focus,
    &:hover 
        background $LIGHT_GRAY    


.setting-form__input
    font-family Verdana, sans-serif
    font-weight 300
    font-size 14px
    line-height 30px
    color #333333
    width 52%
    height 30px
    padding 0 10px
    
.setting-form__change
    margin-top 8px
    float right	

.address__inner 
    border 1px solid $BORDER_GRAY

.address__item
    padding 16px 19px 29px

.address__change 
    float right

.address__inner-title
    font-family Verdana, sans-serif
    font-weight 300
    font-size 14px
    margin 0
    margin-bottom 15px
    color #333333

.address__list
    margin-bottom 24px

.address__item 
    font-size 0

.address__list-radio-lbl
    padding-top 6px
    padding-bottom 6px
    display block
    font-size 12px

.adress__input
    display none
    width 81%

.address__del 
    float right
    display none
    margin-top 8px

/* Редактирование адреса */

.address__inner--edit
    background $LIGHT_GRAY

    & .address__item
        border-bottom 1px solid $BORDER_GRAY
        padding-bottom 13px

    & .address__list
        margin-bottom 0

    & .address__list-radio-lbl
        display inline-block
        vertical-align middle
        width 0
        height 29px
        font-size 0

    & .adress__input
        display inline-block
        vertical-align middle
        padding 0 10px
        font-size 12px
        font-weight 300
        line-height 30px
        color #333333
        background $WHITE
        border 1px solid $BORDER_GRAY

        &:first-child
            border-bottom 0

    & .address__del
        display block

.add-address
    display none
    padding 15px 19px 29px
    font-size 0

.address__inner--edit .add-address
    display block

.add-address__title 
    font-family Verdana, sans-serif
    font-weight 300
    font-size 14px
    margin 0
    margin-bottom 15px
    color #333333

.add-address__wrapper
    margin-bottom 10px

.add-address__item
    display inline-block
    vertical-align top
    width 31%
    margin-right 3%
    font-size 12px

    &:last-child
        width 32%
        margin-right 0

    &--full
        width 100%
        margin-bottom 20px

.add-address__submit 
    float right
                          
/* Подписки */

.setting-form__subscript-item
    margin-bottom 9px